/* design parameters */
set $backColor = #333;         // background color
set $borderColor = 34,34,34;   // border color
set $themeColor = 246,146,35;  // theme color
set $pageWidth = 975px;        // page width
set $_planWidth = 691;         // plan width /*693*/

set $mainPad = 22px;           // main padding
set $tokenPad = 5px;           // token padding
set $smallRadius = 2px;        // small radius
set $buttonRadius = 3px;       // button radius
set $largeRadius = 6px;        // large radius
set $_footerPad = 54;          // footer padding
set $_topHeight = 60;          // top bar height
set $_unitHeight = 29;         // unit bar height

/* conversions */
eval $planWidth = $_planWidth . 'px';
eval $topHeight = $_topHeight . 'px';
eval $footerPad = $_footerPad . 'px';
eval $menuMargin = 66 + $_planWidth . 'px';
eval $dropHeight = 167 + 2 * $_footerPad . 'px';
eval $barHeight = $_topHeight + $_unitHeight . 'px';

/* basic elements */

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "Open Sans";
	src: url('/fonts/OpenSans.woff');
}

@font-face {
	font-family: "Rokkitt";
	src: url('/fonts/RokkittBold.woff');
}

/*@font-face {
	font-family: "Days One";
	src: url('/fonts/DaysOne.woff');
}

@font-face {
	font-family: "Open Condensed";
	src: url('/fonts/OpenCondensed.woff');
}*/

body {
	/*"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Sans-serif;
	/*background-color: $backColor;*/
	padding: 0 6px;
	width: $pageWidth;
	font-size: 8.5pt;
	line-height: 17px;
	background-color: #fcfcfc;
	color: #adadad;
}

body:not(#master) {
	background-color: $backColor;
}

body, input[type=text], .ui-widget {
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", 
	"Helvetica Neue", "Open Sans", Helvetica, Arial, Sans-serif;
}

h1, h2 {
	font-weight: 400;
}

h1 {
	margin: 18px 0 16px;
	font-size: 16pt;
	color: #2d2d2d;
}

h2 {
	margin: 20px 0 12px;
	/*margin: 17px 0 6px;*/
	font-size: 15pt;
}

h2, h3 {
	color: #222;
}

/*#howto h2, #marketBar h2 {
	margin: 5px 0 12px;
}*/

#system h2 {
	margin-top: 19px;
	color: rgb($themeColor);
}

#system .lead h2 {
	margin: 6px 0 8px;
	font-size: 18pt;
	color: #000;
}

h1, h2, h3, p, ol, ol li {
	float: left;
	width: 100%;
}

div > p, ol li {
	margin: 7px 0 4px 0;
	line-height: 20px;
	font-size: 13pt;
}

div > p {
	margin-bottom: 10px;
	width: 96%;
}

ol {
	margin: 0 0 11px 0;
	padding-left: 41px;
	width: 93%;
	/*width: 67%;*/
}

ol li {
	padding-left: 17px;
}

ol p {
	margin: 2px 0 0 0;
	padding-left: 5px;
}

p a:hover {
	text-decoration: underline;
}

p a, p a:hover {
	color: #32b;
}

a {
	text-decoration: none;
	color: #adadad;
}

a:hover {
	color: rgb($themeColor);
}

:focus {
	outline: 0;
}

.ui-multiselect-menu a {
	text-transform: none;
	color: inherit;
}

.ias_loader {
	text-align: center;
	margin: 5px 0;
}

/*#mainDisplay, #mainDisplay input[type=text], #mainDisplay input[type=button], #mainDisplay textarea,
#rootBar .account, .ui-multiselect-menu, .ui-dialog-content, .ui-button-text {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#ui-datepicker-div, #ui-datepicker-div a, .ui-datepicker-title {
	font: 400 10pt "Lucida Grande", Verdana, Helvetica, Arial, Sans-serif;
}

a:link:not(.navItem):not(.navRefine):not(.systemPage), a:visited:not(.navItem):
not(.navRefine):not(.systemPage), input[type=button], input[type=submit] {
	font-size: 8pt;
	text-transform: uppercase;
	color: rgb($linkColor);
}*/

#auth input[type=submit], #buyDesign, #copyright, #wall textarea, 
.track input[type=button] {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#account input[type=text], input[type=password] {
	font-family: Verdana, Arial, Sans-serif;
}

#ui-datepicker-div td a, #ui-datepicker-div td span {
	text-align: center;
	height: 17px;
}

#ui-datepicker-div .ui-state-highlight {
	background: #bbccdd !important;
}

.ui-datepicker-header {
	padding: 2px 0 1px 0 !important;
}

.ui-datepicker-title {
	font-size: 102% !important;
}

.ui-datepicker th {
	width: 25px !important;
}

/* container elements */

.wide {
	margin: 0 auto;
}

#nav {
	width: 276px;
}

#nav div:not(#profile) {
	float: left;
	height: 30px;
	display: table;
}

#nav a {
	padding-bottom: 4px;
	font-size: 90%;
	font-weight: 600;
	line-height: 2px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	color: #fff;
}

#nav img {
	float: right;
	margin: -2px 11px 1px 0;
}

#profile {
	float: right;
	margin-top: 4px;
	width: 102px;
	font-size: 94%;
	line-height: 105%;
}

#footerBar {
	padding: $footerPad 0;
	/*display: none;*/
}

#marketBar, #marketBar .input, #uploadBar, #footerBar, #content, #service {
	float: left;
	width: 100%;
}

#content {
	margin: $barHeight 1px 0;
	padding: $mainPad 3px 58px; /*18px*/
	min-height: 553px;
	color: #868686;
}

#content div h1, #content div h2 {
	text-align: center;
}

#login #footerBar, #register #footerBar {
	border-top: 1px dashed #666;
}

#page, #system {
	float: left;
	width: $planWidth;
	/*margin-right: 15px;
	padding-bottom: 9px;*/
}

#page {
	margin-left: 114px;
}

#pivot {
	font-size: 102%; /*104%*/
}

#auth > div, .load {
	display: none;
}

#auth, #approve {
	position: absolute;
}

#auth {
	z-index: 1;
}

#copyright {
	float: right !important;
	margin-top: 151px;
	width: 202px;
	height: 16px;
	font-size: 97%; /*104%*/
	/*margin: 114px 21px 0 0;*/
}

#connect {
	margin-left: 9px;
	width: 135px; /*167px*/
	background: url('/images/connect.png') no-repeat left top;
}

#nav .signup {
	width: 131px;
	background: url('/images/register.png') no-repeat left top;
}

#connect .dialog {
	padding-left: 14px;
	/*font-size: 0;*/
}

#fb {
	background: url('/images/fb.png') no-repeat left top;
}

#tw {
	background: url('/images/tw.png') no-repeat left top;
}

#customerBar, .back {
	height: $barHeight;
	position: fixed;
	z-index: 700;
}

#customerBar {
	max-width: $pageWidth;
	min-width: 850px;
	width: 98.4%;
}

#approve .header {
	margin-left: 2px;
}

#approve .login {
	margin-top: 4px;
}

#approve .raise, #content > .raise, #page form .raise, #uploadBar .raise {
	top: 0;
	height: 100%;
	position: fixed;
}

#page .raise {
	height: 476px;
}

#page > .raise:last-child {
	top: 0;
	height: 960px; /*1036px*/
	position: absolute;
}

#marketBar .raise {
	background-color: #444;
}

#marketBar, #marketBar .raise {
	height: 439px;
}

#service, #service .raise {
	height: 525px;
}

#uploadBar {
	height: 638px; /*838px*/
}

.back {
	left: 0;
	width: 100%;
}

.back, .drop, .raise {
	background-color: $backColor;
}

.drop, .light, .raise {
	float: left;
	left: 0;
	width: 100%;
	position: absolute;
	z-index: -1;
}

.drop {
	margin-top: -$footerPad;
	height: $dropHeight;
}

.light {
	background-color: #f2f2f2;
	height: 434px;
}

div:not(#service) > .raise {
	margin-top: -$mainPad;
	padding-top: $mainPad;
	z-index: -2;
}

#topBar {
	height: $topHeight;
	width: 100%;
	display: table;
}

#unitBar {
	margin-top: 4px;
	padding-top: 2px;
	border-top: 1px dashed #666;
}

#unitBar div:not(:first-child) {
	float: right;
	margin: 0 1px 0 12px;
}

#unitBar div {
	float: left;
	height: 20px;
	font-size: 83%;
	display: block;
}

#unitBar a {
	top: 1px;
	padding-left: 21px;
	position: relative;
}

#unitBar .account {
	background: url('/images/account.png') no-repeat left 1px;
}

#unitBar .design {
	background: url('/images/design.png') no-repeat 3px 1px;
	display: none;
}

#unitBar .profile {
	background: url('/images/profile.png') no-repeat 4px 1px;
	margin: 0 1px 0 10px;
}

/*#pivot a {
	margin-right: 19px;
}

#unitDiv {
	margin-top: 3px;
	left: 0;
	width: 100%;
	border-top: 1px solid #c8c8c8;
	position: fixed;
}*/

#verify {
	height: 31px;
	font-size: 105%;
	text-align: center;
}

#verify span {
	margin-right: 5%;
	padding: 11px 36px;
	background-color: #cae2ff;
	border: 1px solid #0071bc;
	-webkit-border-radius: $buttonRadius;
	border-radius: $buttonRadius;
}

#verify a {
	color: rgb($themeColor);
}

#verify span {
	color: $backColor;
}

#verify:not(.hidden) + #page:not(.bold), #verify:not(.hidden) + #page + #uploadBar {
	margin-top: -31px;
}

#marketBar div, #footerBar div, #follow div, #follow span {
	float: left;
}

#footerBar li {
	height: 19px;
}

#follow {
	width: 83px;
	/*margin-top: 4px;*/
}

#follow a {
	padding: 0 0 1px 23px;
	color: #f4f4f4;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	display: table-cell;
	/*font-size: 0;*/
}

#follow div {
	margin: 6px 0 3px; /*6px 0 4px*/
	width: 82px; /*75px*/
	height: 31px; /*33px*/
	font-size: 86%;
	font-weight: 600;
	display: table;
}

#follow span {
	margin-left: 2px;
	font-size: 105%;
}

#guide {
	margin-bottom: 29px;
}

#guide .bar {
	margin-bottom: 22px;
	padding-left: 7px;
	width: 247px;
	height: 26px;
	font-size: 18pt;
	line-height: 115%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#guide .unit {
	width: 324px;
}

#guide .wing {
	margin-top: 2px;
	width: 150px;
	font-size: 8pt;
	font-weight: 400;
	line-height: 127%;
	color: #fff;
}

#guide .unit a {
	float: left;
	width: 100%;
	color: rgb($themeColor);
}

#guide .unit img {
	float: left;
	margin: 0 27px 0 40px;
}

#guide .unit .title {
	font-weight: 600;
	width: 100%;
}

#guide .unit:nth-child(2) .title {
	color: #8cc63f;
}

#guide .unit:nth-child(3) .title {
	color: #29abe2;
}

#guide .unit:nth-child(4) .title {
	color: #f7931e;
}

#guide h2, #network h2 {
	margin-bottom: 23px !important;
	font-size: 19pt !important;
	text-align: center;
}

#network {
	width: 100%;
}

#marketBar .divider, #page .divider {
	margin: 30px 0 16px;
	width: 100%;
	border-top: 1px dashed #666;
}

#marketBar .group {
	height: 370px;
	width: 41.5%; /*76%*/
	/*margin-left: 11.5%;*/
}

#marketBar > .signup {
	margin: 0 0 12px 376px;
	width: 220px;
	height: 42px;
	font-size: 10pt;
	font-weight: 600;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 1px solid #0071bc;
	display: table;
	/*set $formStart = #fbb03b;
	set $formEnd = #f15a24;
	background-color: $formStart;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, from($formStart), to($formEnd));
	background-image: -ms-linear-gradient(left top, $formStart, $formEnd);
	background-image: -o-linear-gradient(left top, $formStart, $formEnd);
	background-image: -moz-linear-gradient(left top, $formStart, $formEnd);*/
}

#marketBar .signup a {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	display: table-cell;
	color: #fff;
}

/*#marketBar .group:first-child {
	margin-top: 135px;
}

#marketBar #signup.business {
	background-image: url('/images/business.png');
	background-position: 37px center;
	background-repeat: no-repeat;
}

#marketBar #signup.studio {
	background-image: url('/images/studio.png');
	background-position: 35px center;
	background-repeat: no-repeat;
}

#marketBar .business, #howto .business a {
	background-color: #f8a054;
}

#marketBar .studio, #howto .studio a {
	background-color: #e47354;
}

#marketBar .share {
	float: right;
	margin: -162px 20px 0;
	width: 78px;
}

.share div {
	margin-top: 9px;
	width: 62px;
	height: 27px;
	font-size: 0;
}

.share a {
	height: 100%;
	display: block;
}

#category {
	float: left;
	width: 100%;
}

#category .note {
	text-align: center;
}

#category .note div:nth-child(1) {
	margin-top: 18px;
	font-size: 122%;
	text-align: center;
	color: #4b4b4b;
}

#category .note div:nth-child(2) {
	margin: 14px 0 0 -28px;
	width: 200px;
	font-size: 138%;
	font-weight: 600;
	color: #3d3d3d;
	position: absolute;
}

#category .panel > img {
	margin: 121px 0 0 -7px;
	position: absolute;
}

#category .panel {
	float: left;
	margin: 0 36px;
	height: 306px;
}

#category .select {
	height: 163px;
	width: 128px;
	border: 6px solid #4d595b;
	background-color: #fff;
	vertical-align: middle;
	display: table-cell;
}

#category .select img {
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	display: block;
}

#category .service {
	float: left;
	margin: 19px 0 0 65px;
	width: 855px;
}

#category .soon {
	border-color: #e8e8e8;
}

#howto, #howto .raise {
	height: 393px;
}

#howto .raise {
	background-color: #353535;
}*/

#service .note {
	margin: 14px 0 0 -40px;
	width: 185px;
	font-weight: 600;
	text-align: center;
	position: absolute;
	color: #fff;
}

#service .panel > img {
	margin: 92px 0 0 -5px;
	position: absolute;
}

#service .panel {
	float: left;
	margin: 0 28px;
	height: 202px;
}

#service .project {
	float: left;
	margin-top: 24px;
}

#service .select {
	height: 123px;
	width: 95px;
	background-color: #fff;
	border: 5px solid #e8e8e8; /*rgb($themeColor)*/
	vertical-align: middle;
	display: table-cell;
}

#service .select img {
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	display: block;
}

/*#service .soon {
	border-color: #4d595b;
}*/

#category span {
	color: rgb($themeColor);
}

#howto {
	width: 100%;
}

#howto h2 {
	margin-bottom: 22px !important;
	font-size: 15pt !important;
	color: rgb($themeColor) !important;
}

#howto .signup {
	margin: 7px 0 0 35px;
	width: 105px;
	height: 21px;
	font-size: 85%;
	background: url('/images/creative.png') no-repeat left top;
	display: table;
}

#howto .unit {
	float: left;
	width: 175px;
}

#howto .unit:nth-child(2) {
	margin-left: 137px;
}

#howto .unit img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*#howto .unit div:first-child {
	height: 63px;
}

#howto .unit span {
	height: 46px;
}

#howto .signup a {
	padding: 12px 17px;
	height: 100%;
	width: auto;
	font-size: 11pt;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	color: #fff;
}*/

#howto span {
	float: left;
	margin-top: 18px;
	width: 100%;
	line-height: 132%;
	font-weight: 600;
	font-size: 125%;
	text-align: center;
	color: #fff;
	/*margin: 33px 0 0 -9px;
	width: 260px;
	display: inline-block;*/
}

#marketBar h1 {
	margin: 10px 0 6px;
	font-size: 20pt; /*240%*/
	font-weight: 600;
	line-height: 105%;
	color: #fff;
}

#marketBar h2 {
	margin: 7px 0 25px;
	font-size: 130%; /*175%*/
	line-height: 95%;
	color: #fff;
}

#marketBar h2 span {
	color: rgb($themeColor);
}

#marketBar div {
	text-align: center;
}

#marketBar input[type=text] {
	float: none !important;
	padding-left: 15px !important;
	height: 22px !important;
	width: 330px !important;
	font-size: 120% !important;
	-webkit-border-radius: $largeRadius !important;
	border-radius: $largeRadius !important;
}

#marketBar .claim {
	width: 100%;
	font-size: 10pt;
	font-weight: 400;
	color: #fff;
}

#marketBar .icon {
	margin: 0 17px 25px 0;
}

#marketBar .icon img {
	-webkit-border-radius: 9px;
	border-radius: 9px;
}

#marketBar .icon span {
	margin-top: 25px;
	width: 52px;
	font-size: 23pt;
	font-weight: 600;
	text-align: center;
	color: #333;
	position: absolute;
}

#marketBar .screen {
	margin: 123px 0 0 26px;
	width: 293px;
}

#marketBar .sector {
	float: left;
	height: 50px;
	width: 100%;
}

#marketBar #post + h2 {
	background: url('/images/check.png') no-repeat left 3px;
	padding-left: 28px;
}

#marketBar #post {
	margin-top: 1px;
}

/*.back, .drop, .raise {
	background-color: $backColor;
}

#follow #fb {
	background: url('/images/shareit.png') no-repeat left top;
}

#follow #tw {
	background: url('/images/tweetit.png') no-repeat left top;
}

#marketBar .glare, #marketBar .screen {
	position: absolute;
}

#marketBar .glare {
	opacity: 0.62;
	z-index: 1;
}

#marketBar .group {
	margin: 0 4px;
	padding: 0 110px;
	line-height: 131%;
	text-align: center;
	color: #b4b4b4;
}

#marketBar .group:nth-child(1) {
	margin: 4px 0 0 9.5%;
}

#uploadBar, #uploadBar .raise {
	height: 589px;
}

#uploadBar .raise {
	padding-bottom: 58px;
}*/

/*#pivot, #post a, #signup,*/
h1, h2, #content > div > form input[type=text], #content .profile input[type=text], 
#marketBar input[type=text], #marketBar .icon span, #content a.systemUser, 
#addTask, #guide .wing, #howto span, #reset a, #marketBar .claim, #saveTask, #verify, 
#auth input[type="submit"], #auth .desc, #category .note, #page .header, #page form .desc, 
.ui-dialog-title, .profile .log, .refine > span, .profile a.systemPage, .lead ul li, 
.token.edit .input, .token .prize span, .desc span, .ui-multiselect > 
span:nth-child(2), .payment .desc, .pitch, .track .header, span.deal, span.mask {
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

#marketBar input[type=text], #signin, #signout {
	font-weight: 600;
}

#navLeft, #navRight {
	margin: 5px 0 0 73px; /*5px 0 0 90px*/
	width: 108px; /*119px;*/
}

#navLeft a, #navRight a {
	font-size: 94%;
}

/*#service {
	width: 174px;
	height: 32px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	display: inline-table;
}

#service a {
	background: url('/images/note.png') no-repeat 12px center;
	padding-left: 12px;
	font-size: 105%;
}*/

#service {
	padding-bottom: $mainPad;
}

#service h1 {
	margin-top: 32px;
	font-size; 19.5pt;
	text-align: left !important;
	color: #fff;
}

#service h1 span {
	color: rgb($themeColor);
}

#signin, #signout {
	height: auto !important;
	text-transform: uppercase;
}

#signin a, #signout a {
	padding: 0;
}

#tag {
	margin: 2px 0 0 4px;
	font-size: 8pt !important;
	color: #fff;
}

/* typical elements */

#pbz {
	padding: 0 35px 3px 5px; /*0 29px 2px 5px*/
	height: 45px; /*40px*/
	width: 83px; /*228px*/
}

#close a, #hide a, #pbz a/*, #logo a*/ {
	height: 100%;
	width: 100%;
	top: 0;
	text-indent: -9999px;
	display: block;
}

#close a {
	background: url('/images/close.png') no-repeat left top;
}

#hide a {
	background: url('/images/hide.png') no-repeat left top;
}

#pbz a {
	background: url('/images/home.png') no-repeat left top;
	height: 45px !important;
	/*font-size: 117%;
	font-weight: 600;
	line-height: 295%;
	text-align: right;
	text-indent: 0;
	color: #5d5d5d;*/
}

#footerBar ul, #page ul, #system ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	/*display: inline;*/
}

/*#page:not(.bold) #wall {
	min-height: 479px;
}

.focus {
	set $orangeStart = #ED9305;
	set $orangeEnd = #C0790A;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($orangeStart), to($orangeEnd));
	background-image: -ms-linear-gradient(top, $orangeStart, $orangeEnd);
	background-image: -o-linear-gradient(top, $orangeStart, $orangeEnd);
	background-image: -moz-linear-gradient(top, $orangeStart, $orangeEnd);
	color: #fff;
}*/

#follow span, .angle, #guide .bar, form .header, .job .description a, #system h1,
#copyright, #howto h2, #system h2, .login .header, .register .header, #tag, 
#page .legend, .token .cost, .token .divider, .token .badge, .token .tag, 
#content > .simple, #service h1, #uploadBar .header, #wall .desc {
	font-family: "Rokkitt", Garamond, "Times New Roman", Serif;
}

.gridForm #wall {
	margin-top: 4px;
}

.profile #wall {
	width: 600px;
}

#system h1, #system h2 {
	text-align: left !important;
}

#system h1 {
	font-size: 17pt;
	color: rgb($themeColor);
}

#system .divider {
	left: 0;
	width: 100%;
	border-bottom: 1px solid #c8c8c8;
	position: absolute;
}

#system .plan {
	min-height: 634px;
	/*top: 7px;
	position: relative;*/
}

#wall {
	margin-top: 10px;
	min-height: 345px;
	width: 639px;
	color: #4e4e4e;
}

#wall .desc {
	padding-top: 23px !important;
}

#wall .items/*, .plan*/ {
	margin: 9px 0 -10px;
	background-color: #e8e8e8;
	display: inline;
	/*padding-bottom: 45px;*/
}

#wall .items .comment:last-child {
	margin-bottom: 37px;
}

.upper {
	vertical-align: top;
	display: table-cell;
}

.middle, .refine {
	vertical-align: middle;
	display: table-cell;
}

.lower {
	vertical-align: bottom;
	display: table-cell;
}

.ui-widget-header span {
	cursor: default;
}

.items {
	float: left;
	width: 100%;
}

.hidden {
	display: none !important;
}

.ui-dialog {
	margin-top: -88px;
	position: fixed;
}

.ui-dialog-content {
	padding: 15px 27px 11px !important;
	width: 80% !important;
	display: table !important;
}

.ui-dialog-content .middle {
	font-size: 105%;
	text-align: center;
}

.ui-dialog-titlebar {
	padding-left: 8px !important;
	height: 15px;
}

.ui-dialog-titlebar-close {
	padding: 1px !important;
	background: none !important;
	border: 0 !important;
}

.ui-dialog-title {
	margin: 0 0 0 1px !important;
	font-weight: 600;
}

.ui-dialog-buttonpane {
	padding: 3px 0 1px 0 !important;
}

.ui-dialog-buttonset {
	float: none !important;
	text-align: center;
}

.ui-dialog-buttonset .ui-state-focus:not(.ui-state-hover) {
	background: none;
	border-color: #d8d8d8;
	color: #3F3731;
}

.ui-dialog-content h3 {
	margin: 0 0 16px;
}

.ui-dialog-content a {
	top: -1px;
	font-size: 76% !important;
	position: relative;
}

.detail .ui-tooltip-content, .ui-multiselect.multiphoto span:nth-child(2), .nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* page elements */

#content input[type=text], #content input[type=password], #content textarea {
	border: 1px solid #d8d8d8;
	color: #505052;
	/*margin: 0 1px 0 0;
	box-shadow: 3px 5px 5px 0 rgba(50, 50, 52, 0.08) inset;
	-webkit-border-radius: $buttonRadius;
	border-radius: $buttonRadius;*/
}

#content input[type=text]:focus, #content input[type=password]:focus, #content textarea:focus {
	-webkit-box-shadow: 0 0 8px 0 rgba(82, 131, 161, 0.2);
	box-shadow: 0 0 8px 0 rgba(82, 131, 161, 0.2);
}

#content input[type=text]:-moz-placeholder {
	color: #b0b0b0;
}

#content input[type=text]::-webkit-input-placeholder {
	color: #b0b0b0;
}

#content textarea:-moz-placeholder {
	color: #a3a3a3;
}

#content textarea::-webkit-input-placeholder {
	color: #a3a3a3;
}

#system .track:nth-child(3) {
	margin-top: -10px;
}

/*button.gray {
	color: #b4b4b4 !important;
}

.category + button.gray {
	color: #666 !important;
}*/

.track input[type=button], .profile #savePerson {
	float: left !important;
	margin-left: 197px;
	padding: 3px 32px;
	font-size: 97%;
	font-weight: 600;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.track input[type=text], .track input[type=password] {
	padding: 0 8px !important;
	height: 23px !important;
	font-size: 100% !important;
	width: 372px !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.payment input[type=text] {
	width: 323px !important;
}

.track {
	font-size: 112%;
}

.track form {
	margin-left: 5px;
	border-bottom: 1px dotted #666666;
}

.security form {
	width: 602px;
}

.payment form {
	width: 515px;
}

.track span {
	line-height: 130%;
}

.track span.mask {
	margin-left: -9px;
	padding-top: 36px;
	height: 56px;
	font-weight: 600;
	text-align: center;
	color: $backColor;
	position: relative;
}

.track a.expand {
	margin: -3px 0 0 5px;
	font-size: 123%;
	text-transform: uppercase;
	color: rgb($themeColor);
}

.track .header {
	margin-top: 10px;
	font-weight: 600;
	color: $backColor;
}

.track .desc {
	padding-left: 9px;
	font-size: 95%;
}

.payment .desc {
	padding-left: 18px;
}

.security .input {
	padding-right: 10px;
}

.payment .input {
	padding-right: 23px;
	width: 340px;
}

.track .submit {
	padding-top: 20px !important;
	padding-bottom: 6px !important;
}

.security .submit {
	padding-left: 32px !important;
}

.track .token {
	padding: 5px 0;
	height: 25px;
}

.track .token:not(.inner) {
	padding-bottom: 18px;
}

.track .token.inner {
	height: 25px;
}

.security .token.inner {
	margin-left: 36px;
	width: 538px;
}

.payment .token.inner {
	margin-left: 16px;
	padding: 3px 0;
	width: 464px;
}

.payment .token:not(.inner) + .token.inner {
	padding-top: 12px;
	/*margin-top: 17px;*/
}

.payment .token.inner:nth-last-child(2) {
	padding-bottom: 12px;
}

.security .token.inner:nth-child(even), .payment .token.inner {
	background-color: #e6e6e6;
}

#register #page, #register #system, #register .menu {
	height: 841px !important;
}

#login .login, #register .register {
	display: block;
}

body:not(#master) #customerBar body:not(#master) #footerBar, 
body:not(#master) #marketBar, body:not(#master) #uploadBar, body:not(#master) #service,  
body:not(#master) #page, body:not(#master) #system, body:not(#master) #content > p, 
body:not(#master) #content > h1, body:not(#master) #content > ol {
	opacity: 0.21;
}

body:not(#master) #wall {
	display: none;
}

/*body:not(#master) .back {
	background-color: #353535;
}*/

body:not(#master) .job {
	border-color: #202020;
}

/*body:not(#master) #page.bold, body:not(#master) #system:not(.fixed),
body:not(#master) .menu {
	height: 525px;
	overflow: hidden;
}*/

a.resend {
	margin-right: 3px;
}

#close {
	float: right;
	top: -32px;
	height: 24px;
	width: 23px;
	position: relative;
}

#hide {
	margin: 0 -3px 0 3px;
	top: 3px;
	height: 12px;
	width: 10px;
	position: relative;
	display: inline-block;
}

#system.fixed .plan, #system.fixed .profile, #system.fixed .headline, 
#system.fixed .lead h2, #system.fixed .lead ul {
	display: none;
}

#system.fixed {
	width: 960px;
	position: absolute;
}

.login, .register {
	set $formStart = #fbb03b;
	set $formEnd = #f15a24;
	background-color: $formStart;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, from($formStart), to($formEnd));
	background-image: -ms-linear-gradient(left top, $formStart, $formEnd);
	background-image: -o-linear-gradient(left top, $formStart, $formEnd);
	background-image: -moz-linear-gradient(left top, $formStart, $formEnd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$formStart', endColorstr='$formEnd', GradientType=1);
	margin: -20px 257px 55px;
	width: 431px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	/*margin-left: 286px;
	width: 394px;
	border: 1px solid #555;
	background-color: #f5f5f5;*/
}

.login .header, .register .header {
	padding: 38px 0 0 32px; /*16px 0 0 27px*/
	font-size: 18pt;
	height: 32px;
	width: 389px;
	display: table;
}

.login .header .middle, .register .header .middle {
	background: url('/images/arrow.png') no-repeat 5px top;
	width: 100%;
	position: relative;
	display: inline;
}

/*.login .header .middle, .register .header .middle {
	background: url('/images/probaz.png') no-repeat 132px top;
	vertical-align: bottom;
	display: table-cell;
}

.login .token:last-child, .register .token:last-child {
	margin-bottom: 26px;
}*/

.login .token + .token + .token, .register .token + .token + .token {
	height: 45px;
}

.login .desc, .register .desc, .login .header .middle, 
.register .header .middle {
	padding-left: 36px;
}

.login .middle, .register .middle {
	font-size: 116%;
}

.login .token, .register .token {
	/*height: 29px;*/
	padding: 0;
	width: 96%;
	display: table;
}

.login div, .register div {
	color: #fff;
}

.token .cost {
	padding-left: 15px;
	top: 1px;
	font-size: 153%;
	position: relative;
}

.token .divider {
	margin: 12px 0 16px 8.5%;
	padding-bottom: 10px;
	width: 86%;
	font-size: 184%;
	text-align: center;
	border-bottom: 1px dotted #fff;
	/*padding-top: 14px;
	color: #777;*/
}

.token.edit:not(.flex) + .token.flex {
	float: left;
	margin-top: 0;
}

.token.flex {
	width: auto;
}

.token .frame {
	height: 106px;
	width: 486px;
}

.token .frame > a:last-child {
	float: left;
	margin-top: 38px;
	font-size: 105%;
}

.token .frame span {
	float: left;
	margin-top: 35px;
	text-align: center;
	width: 100%;
	color: #f7931e;
}

.token .set {
	float: left;
	margin-right: 14px;
}

.token .set img {
	-webkit-border-radius: 14px;
	border-radius: 14px;
}

.token .notice {
	background-color: #cae2ff;
	margin-bottom: 2px;
	padding: 15px 0;
	font-size: 125%;
	text-align: center;
	width: 716px;
	color: #333;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #0071bc;
	display: inline-block;
}

.token .sign {
	font-size: 110%;
}

.token.edit {
	/*padding: $tokenPad 0;*/
	margin-top: 2px;
	padding: 0;
	height: 21px;
}

.token.edit .desc {
	padding: 6px 45px 9px 1px;
	font-size: 116%;
	vertical-align: top;
	color: #b3b3b3; /*$backColor*/
}

.token.edit .input {
	padding: 6px 0 9px;
	width: 520px;
	line-height: 144%;
	font-size: 109%;
	text-align: left;
	color: #f5f5f5;
}

.token.edit .input span {
	line-height: 115%;
}

/*.token.edit:nth-last-child(2) {
	padding-bottom: 17px;
}

.token.edit .area {
	font-size: 74%;
}*/

.token.option .desc {
	padding-top: 7px;
}

.token.option .input {
	padding: 3px 0 5px 0;
}

.token.detail, .token.work {
	float: left;
	height: 165px;
}

.token.detail {
	width: 437px;
}

.token.fbook {
	margin-top: 7px;
	height: 65px;
}

.block, .token .prize {
	set $blockStart = #f2a238;
	set $blockEnd = #e95931;
	background-color: $blockStart;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($blockStart), to($blockEnd));
	background-image: -ms-linear-gradient(top, $blockStart, $blockEnd);
	background-image: -o-linear-gradient(top, $blockStart, $blockEnd);
	background-image: -moz-linear-gradient(top, $blockStart, $blockEnd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blockStart', endColorstr='$blockEnd', GradientType=0);
	border: 1px solid #f7931e; /*#f15a24*/
	color: #fff;
}

.token .prize {
	margin-top: 12px;
	padding-top: 8px;
	height: 51px;
	width: 106px;
	font-size: 90%;
	font-weight: 600;
	text-align: center;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.token .prize span {
	float: left;
	margin-top: 11px;
	font-size: 22pt;
	width: 100%;
}

.token.work {
	margin: 9px 0 0 6px;
	margin-left: 6px;
	padding-bottom: 8px;
	width: 209px;
}

/*.token .subUpload {
	float: left;
	background-image: url('/images/tick.png'), -webkit-gradient(linear, 0 0, 0 100%, from($blockStart), to($blockEnd));
	background-image: url('/images/tick.png'), -ms-linear-gradient(top, $blockStart, $blockEnd);
	background-image: url('/images/tick.png'), -o-linear-gradient(top, $blockStart, $blockEnd);
	background-image: url('/images/tick.png'), -moz-linear-gradient(top, $blockStart, $blockEnd);
	background-position: 16px 12px, left top;
	background-repeat: no-repeat;
	padding-top: 18px;
	height: 127px;
	width: 100%;
	font-size: 109%;
	font-weight: 600;
	text-align: center;
	border: 1px solid #f0932c;
	color: #fff;
	-webkit-border-radius: $largeRadius;
	border-radius: $largeRadius;
}

.token .wallOffer {
	margin: 93px 0 0 -167px;
	padding: 6px 13px !important;
	width: 90px;
	font-size: 108% !important;
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
	display: inline-block;
	position: absolute;
}*/

.token.legend, #wall .desc {
	padding-top: 10px;
	font-size: 16pt;
	color: rgb($themeColor);
}

.token.legend {
	border-top: 1px dashed #666;
	width: 90%;
}

span.deal {
	margin: 39px 0 0 -118px;
	font-size: 31pt;
	width: 152px;
	position: absolute;
}

#design .hook:not(.link):not(.msg) {
	margin-left: 28px;
}

#design .hook .add:first-child {
	margin-left: -10px;
}

#fileUploader.theme {
	margin-top: 15px !important;
	left: 4px;
	height: 26px !important;
	width: 132px !important;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: block;
	position: relative;
}

#page form .token, #system form .token { /*div:not(#uploadBar) >*/
	padding: 14px 0;
	height: auto;
	width: 106%;
}

.cart {
	set $orangeStart = #f89a27;
	set $orangeEnd = #f15c24;
	background-color: $orangeStart;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($orangeStart), to($orangeEnd));
	background-image: -ms-linear-gradient(top, $orangeStart, $orangeEnd);
	background-image: -o-linear-gradient(top, $orangeStart, $orangeEnd);
	background-image: -moz-linear-gradient(top, $orangeStart, $orangeEnd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$orangeStart', endColorstr='$orangeEnd', GradientType=0);
}

.download {
	background-color: $orangeStart;
	background-image: url('/images/download.png');
	background-image: url('/images/download.png'), -webkit-gradient(linear, 0 0, 0 100%, from($orangeStart), to($orangeEnd));
	background-image: url('/images/download.png'), -ms-linear-gradient(top, $orangeStart, $orangeEnd);
	background-image: url('/images/download.png'), -o-linear-gradient(top, $orangeStart, $orangeEnd);
	background-image: url('/images/download.png'), -moz-linear-gradient(top, $orangeStart, $orangeEnd);
	background-position: 7px 3px, left top;
}

.want {
	background-color: $orangeStart;
	background-image: url('/images/want.png');
	background-image: url('/images/want.png'), -webkit-gradient(linear, 0 0, 0 100%, from($orangeStart), to($orangeEnd));
	background-image: url('/images/want.png'), -ms-linear-gradient(top, $orangeStart, $orangeEnd);
	background-image: url('/images/want.png'), -o-linear-gradient(top, $orangeStart, $orangeEnd);
	background-image: url('/images/want.png'), -moz-linear-gradient(top, $orangeStart, $orangeEnd);
	background-position: 5px 3px, left top;
}

.download.add {
	width: 109px !important;
}

.download, .want {
	padding-left: 11px;
	background-repeat: no-repeat;
	width: 86px !important;
}

.gloss {
	opacity: 0.62;
	position: absolute;
}

.hook {
	margin-top: 10px;
	height: 43px;
}

.hook a:not(.simple) {
	float: left;
	margin-top: -2px;
	height: 20px;
	width: 97px;
	text-align: center;
	line-height: 19px;
	font-size: 82%;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid rgb($themeColor);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.hook img {
	float: left;
	margin-right: 6px;
}

/*.hook img.add {
	margin-left: -11px;
}*/

.hold {
	background: url('/images/hold.png') no-repeat left top;
}

.ready {
	background: url('/images/ready.png') no-repeat left top;
}

.hold, .ready {
	float: right;
	margin: -17px -19px 0;
	height: 28px;
	width: 28px;
	text-indent: -9999px;
	display: block;
}

a:not(.simple) + .simple {
	margin-right: 16px;
}

.simple {
	color: #fff;
}

.want:not(.focus), #buyDesign:disabled {
	opacity: 0.19;
}

.want:hover {
	opacity: 1;
}

#design .cell {
	float: left;
	height: 214px;
	width: 188px;
}

#design .icon {
	height: 155px;
	width: 155px;
	font-size: 11pt;
	text-align: center;
	color: #ccc;
	display: table-cell;
	vertical-align: middle;
}

#design .items {
	margin-top: 8px;
}

#design .link {
	width: 154px;
	font-size: 112%;
	text-align: center;
	color: #fff;
}

/*#design .link img {
	margin-top: -2px;
}*/

#design .msg {
	margin-left: 10px;
}

#design .msg.link {
	margin-left: 15px;
	text-align: left;
}

#page > .token .icon {
	height: 60px;
	width: 60px;
	display: inline-block;
}

#page .sample {
	height: 308px;
	width: 308px;
	display: block;
}

#page > .token .icon, #page > .token .gloss {
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#design .gloss, #design .icon {
	-webkit-border-radius: 27px;
	border-radius: 27px;
}

#uploadBar .crop, #uploadBar .icon {
	background-color: #09141e !important;
}

#uploadBar .crop img:not(#jcrop), #uploadBar .jcrop-holder {
	background-color: #444 !important;
}

#uploadBar .center {
	margin: 23px 0 0 21px !important;
	width: 142px !important;
	font-size: 90% !important;
	line-height: 119%;
}

#uploadBar .crop {
	height: 582px !important;
	width: 582px !important;
	overflow: hidden;
}

#uploadBar .icon {
	height: 143px !important;
	width: 143px !important;
	overflow: hidden;
	display: block;
}

#uploadBar .icon, #uploadBar .gloss {
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

#uploadBar .new {
	padding: 6px;
	font-size: 94%;
	text-align: center;
	text-transform: uppercase;
}

#uploadBar .token {
	float: left;
	margin: 7px 0 0 24px;
	padding: 0;
	height: auto;
	width: auto;
	font-size: 115%;
	color: #f9f9f9;
}

#uploadBar .token:first-child {
	width: 100%;
}

#state {
	height: 22px;
}

#state > span {
	margin: 3px 0 0 3px;
	width: 134px;
	text-align: center;
	color: rgb($themeColor);
}

#state .active {
	margin: 0;
}

#state + .token {
	margin: 16px 0 0 32px;
	width: 128px;
	line-height: 119%;
}

#state + .token span {
	margin: 12px 0 9px;
	font-size: 85%;
}

.token {
	padding: 12px 0;
	height: 55px;
	width: 98.5%; /*97%*/
	line-height: 95%;
	border-top: 0;
	display: table;
	/*color: #fff;*/
}

.formsubmit {
	margin: 8px 27px 0 0;
}

.validate {
	display: none !important;
}

input.error, textarea.error {
	background-color: #ffe3e3;
	border-color: #c40000 !important;
}

select.error + button {
	background: #ffe3e3;
	border-color: #c40000;
	color: #aaa !important;
}

#content .navigation {
	font: 600 155% "Helvetica Neue", Helvetica, Arial, Sans-serif;
	padding: 5px 0;
	width: 76px;
	line-height: 28px;
	border-width: 2px;
	-webkit-border-radius: $largeRadius;
	border-radius: $largeRadius;
	background-color: #b3b3b3;
	/*width: 62px;
	background-color: transparent;
	color: #4d4d4d;*/
}

#content .submit {
	padding: 15px 6px 18px 0; /*22px 6px 18px 0*/
}

#content #auth .submit {
	padding-right: 128px;
	padding-bottom: 29px;
}

#content #auth .login .submit:not(.inline) {
	padding-bottom: 6px;
}

#content #service:first-child {
	margin-top: -22px;
}

#content .gridForm .submit {
	padding-top: 0;
}

#reset {
	padding-left: 12px;
	text-align: center;
}

#reset a {
	font-size: 90%;
	font-weight: 600;
	text-decoration: underline;
	color: #fff;
}

#addDesign, #page .sub { /*#content .navigation,*/
	set $navStart = #682d91;
	set $navEnd = #91278f;
	background-color: $navStart;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from($navStart), to($navEnd));
	background-image: -ms-linear-gradient(left, $navStart, $navEnd);
	background-image: -o-linear-gradient(left, $navStart, $navEnd);
	background-image: -moz-linear-gradient(left, $navStart, $navEnd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navStart', endColorstr='$navEnd', GradientType=1);
	border: 1px solid $navStart;
}

#wall .wallMessage, .ui-dialog-buttonset button {
	set $wallStart = #28447e;
	set $wallEnd = #627bac;
	background-color: $wallStart;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($wallStart), to($wallEnd));
	background-image: -ms-linear-gradient(top, $wallStart, $wallEnd);
	background-image: -o-linear-gradient(top, $wallStart, $wallEnd);
	background-image: -moz-linear-gradient(top, $wallStart, $wallEnd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$wallStart', endColorstr='$wallEnd', GradientType=0);
	font: 600 112% "Helvetica Neue", Helvetica, Arial, Sans-serif;
	padding: 3px 6px 2px;
	height: 31px;
	border: 1px solid #0071bc;
	color: #fff;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.ui-dialog-buttonset button {
	padding: 3px 12px 2px;
	margin-right: 12px;
	height: auto;
	width: auto;
}

span.label {
	font-size: 78%;
}

.display {
	margin-top: 40px;
	width: 278px;
	/*height: 160px;*/
}

/*.display, .pick {
	width: 100%;
}*/

.edit .display {
	margin: 2px 0 6px;
	height: 174px;
}

.formsubmit .clear {
	margin: 0 12px 0 16px;
}

.formsubmit input[type=button], .taskForm .submit input, #auth .submit input {
	float: right;
}

.pick {
	margin-top: 2px;
	height: 35px;
}

.profile {
	margin-top: -2px;
}

.profile .display {
	float: left;
	margin: 0;
	width: 96%;
}

.profile .entry {
	margin: 0;
	padding-top: 5px !important;
	font-size: 88% !important;
	width: auto;
	color: #999;
}

#page .profile .raise, #system .profile .raise {
	top: 100px;
	height: 152px;
	position: absolute;
}

.profile .badge + a {
	margin-left: 11px;
	color: #f7931e;
}

.refine > span {
	top: 9px;
	text-decoration: underline;
	position: relative;
	color: rgb($themeColor);
	/*font-weight: 600;
	color: #4b4b4b;*/
}

button.ui-button, input[type=button], input[type=submit] {
	font: 400 10pt "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-serif;
}

button.ui-button {
	cursor: pointer;
}

button.ui-state-hover, button.ui-state-focus {
	color: #777 !important;
}

button.ui-state-active {
	border-color: rgb($themeColor);
	color: #fff !important;
}

button.ui-state-active span.inactive {
	display: inline;
}

/*#content input.edit, #content input.save {
	background-color: #88b448;
	margin: 0;
}

#page .wide .input {
	width: 465px;
}

.token {
	padding: 12px 0;
	height: 63px;
	width: 100%;
	line-height: 114%;
	border-top: 0;
	display: table;
	color: #fff;
}

.token, .comment {
	background-color: #f7f7f7;
}

.inner.wide .input {
	width: 352px;
}

.footer {
	padding: 0 1px;
	background-color: #2c2b2a;
	height: 13px;
	width: 100%;
}*/

#state span.inactive, button span.inactive, button.ui-state-active span.active {
	display: none;
}

#content > .simple {
	top: 135px;
	font-size: 20pt;
	text-align: center;
	position: relative;
}

#content .simple span, #tag span {
	color: rgb($themeColor);
}

#page .new {
	margin-top: 8px;
	height: 16px;
	width: 73px;
	font-size: 115%;
	color: rgb($themeColor);
}

#page form .desc, #system form .desc {
	padding-top: 9px;
	padding-right: 35px;
	display: block;
}

#page form .desc {
	padding-bottom: 7px;
	font-weight: 600;
	color: #777;
}

#page form .input, #system form .input {
	width: 490px;
}

#page form .input, .affix img, .affix div, .desc span, .token > span {
	float: left;
}

#page form .token {
	padding-bottom: 5px;
	margin-left: 40px;
}

.affix .list {
	padding-top: 12px;
	padding-right: 12px;
	width: 134px;
}

.desc {
	padding-left: 2px;
	font-size: 10pt;
	line-height: 126%;
}

.desc span {
	font-weight: 600;
}

.desc span, .token > span:first-child, .token span.mask {
	width: 100%;
}

.gridForm .affix .token {
	padding: 0 !important;
	width: auto !important;
}

.login span {
	margin: 5px 0 9px 4%;
	width: 85%;
	text-align: center;
}

.profile form .input {
	width: 486px !important;
}

.register .desc span {
	margin: 3px 0;
}

.register .desc span:nth-child(1) {
	font-size: 124%;
}

.register .desc span:nth-child(2) {
	font-size: 96%;
}

/*.profile .affix {
	margin-top: 7px;
	width: 96.5%;
}

.profile .affix > span {
	float: left;
	font-size: 109%;
	line-height: 124%;
	color: #777;
}

.profile .affix > span:nth-child(-n+3) {
	width: 50%;
	line-height: 93%;
}

.profile .affix > span:nth-child(2) {
	height: 26px;
	font-size: 21pt;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: rgb($themeColor);
}

.profile .affix span:nth-child(3) {
	margin-bottom: 8px;
	height: 75px;
	font-size: 20pt;
	overflow-y: hidden;
	color: #333;
}*/

#hire {
	float: right;
	margin-bottom: -5px;
	height: 29px;
	width: 93px;
	-webkit-border-radius: $buttonRadius;
	border-radius: $buttonRadius;
	display: table;
}

#hire a {
	padding: 0 0 1px 13px;
	font-size: 90%;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	background: url('/images/note_mini.png') no-repeat 15px 6px;
	display: table-cell;
	color: #fff;
}

#valid {
	float: right;
	height: 124px;
	width: 131px;
	display: table;
}

#valid .block {
	height: 40px;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#valid .block div {
	padding-top: 7px;
	height: 36px;
	border-top: 1px solid #fff;
}

#valid .block div:first-child {
	border: 0;
}

#valid .block span {
	font-size: 80%;
}

#valid > div {
	vertical-align: bottom;
	display: table-row;
}

#fbook {
	/*margin: 9px 0 4px 118px;*/
	float: left;
	margin-left: 129px;
	font-size: 102%;
	text-align: center;
	background: url('/images/facebook.png') no-repeat left top;
	display: table;
}

#fbook .dialog {
	/*font-size: 0;*/
	padding-left: 14px;
	height: 35px;
	width: 175px;
	color: #fff;
	vertical-align: middle;
	display: table-cell;
}

.login #fbook {
	margin-bottom: 10px;
}

.upload {
	height: 223px;
}

/*.input span {
	margin-right: 1px;
}

.input span.area {
	font-size: 82%;
}

span.box {
	float: left;
}

#page .affix.box {
	margin-top: 3px;
}

#page .affix.box a, .message, #wall .wallMessage {
	font-size: 76%;
	text-decoration: none;
}

#page .affix.box a {
	margin: 0 1px 0 9px;
}

#page .affix.top {
	float: left;
	margin: 12px 0 0 26px;
	display: table;
}

#page .tag {
	float: left;
	margin-bottom: 8px;
	max-height: 79px;
	font-size: 28pt;
	line-height: 83%;
	overflow: hidden;
}*/

.login .input, .register .input {
	padding-right: 29px;
}

.person {
	margin: 1px 9px 0 1px;
}

.input {
	width: 243px;
	text-align: right;
	/*font-size: 90%;*/
}

.input .add {
	float: right;
}

.input > span:nth-child(3) {
	float: left;
	padding: 8px 22px;
	font-size: 126%;
}

.input span.dollar {
	float: left;
	padding: 0;
	width: 0;
	top: 13px;
	left: 28px;
	font-size: 135%;
	position: relative;
	z-index: 1;
}

.job {
	margin-bottom: 8px;
	padding: 8px 11px 8px 20px;
	height: 67px !important;
	width: 109% !important;
	border: 10px solid #fff;
}

.leaf {
	set $greenStart = #cee316;
	set $greenEnd = #8ec73e;
	background-color: $greenStart;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($greenStart), to($greenEnd));
	background-image: -ms-linear-gradient(top, $greenStart, $greenEnd);
	background-image: -o-linear-gradient(top, $greenStart, $greenEnd);
	background-image: -moz-linear-gradient(top, $greenStart, $greenEnd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$greenStart', endColorstr='$greenEnd', GradientType=0);
	border: 1px solid #39b54a;
	color: #fff;
}

.ocean {
	set $blueStart = #29abe2;
	set $blueEnd = #0071bc;
	background-color: $blueStart;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($blueStart), to($blueEnd));
	background-image: -ms-linear-gradient(top, $blueStart, $blueEnd);
	background-image: -o-linear-gradient(top, $blueStart, $blueEnd);
	background-image: -moz-linear-gradient(top, $blueStart, $blueEnd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$blueStart', endColorstr='$blueEnd', GradientType=0);
	border: 1px solid #0071bc;
	color: #fff;
}

.tree {
	set $treeStart = #3ea200;
	set $treeEnd = #8fc63f;
	background-color: $treeStart;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($treeStart), to($treeEnd));
	background-image: -ms-linear-gradient(top, $treeStart, $treeEnd);
	background-image: -o-linear-gradient(top, $treeStart, $treeEnd);
	background-image: -moz-linear-gradient(top, $treeStart, $treeEnd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$treeStart', endColorstr='$treeEnd', GradientType=0);
	border: 1px solid #2a8232;
	color: #fff;
}

.theme {
	background-color: $orangeStart;
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from($orangeStart), to($orangeEnd));
	background-image: -ms-linear-gradient(left, $orangeStart, $orangeEnd);
	background-image: -o-linear-gradient(left, $orangeStart, $orangeEnd);
	background-image: -moz-linear-gradient(left, $orangeStart, $orangeEnd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$orangeStart', endColorstr='$orangeEnd', GradientType=1);
	border: 1px solid rgb($themeColor) !important;
	color: #fff;
}

#content .badge {
	font-size: 19pt;
	line-height: 94%;
	min-height: 35px;
	max-width: 252px;
}

#page .badge, #page .tag {
	float: left;
	color: #fff;
}

#page .badge {
	margin-right: 145px;
}

#page .profile .token:first-child {
	margin-top: 12px;
}

#page .profile .badge {
	float: none;
	color: #333;
}

#page .detail .tag {
	margin-top: -32px;
	width: 92%;
}

#page .tag {
	font-size: 16pt;
	line-height: 114%;
}

#page .tag span {
	color: rgb($themeColor);
}

#page .start div .tag {
	margin: 6px 0 0 10px;
}

#page .start, #content a.systemUser {
	color: #363636;
}

/*#page .token > .start > a:not(.navRefine) {*/
#page .token > .badge + a {
	left: -134px; /*9px*/
	top: 20px;
	position: relative;
}

#page > form .affix {
	margin-top: 5px !important;
	margin-bottom: 0 !important;
}

#page > *:not(.profile) .affix {
	float: left;
	margin: 10px 35% 12px 0; /*40%*/
	width: 335px; /*225px*/
	display: table;
	overflow: hidden;
}

#system .badge {
	color: #333;
}

.comment {
	float: left;
	margin-left: 2.5%;
	padding: 15px 0 12px;
	min-height: 48px;
	width: 95.5%;
}

.comment > div {
	float: left;
	font-size: 116%;
	font-weight: 400;
}

.comment.person {
	padding-top: 15px;
	padding-bottom: 19px;
	min-height: 0;
	font-size: 115%;
}

.comment.person a {
	color: #f7931e !important;
}

.comment, .task:not(.job) {
	border-bottom: 1px dashed #999;
}

.job .status {
	margin-top: 3px;
}

.status {
	float: left;
	top: -1px;
	padding: 5px 10px;
	font-size: 100%;
	line-height: 90%;
	text-transform: uppercase;
	-webkit-border-radius: $buttonRadius;
	border-radius: $buttonRadius;
	border-width: 1px;
	position: relative;
}

.task {
	height: 78px;
}

.task:last-child:not(.job) {
	border: 0;
}

.task img {
	float: left;
	margin-top: 5px;
}

.assign span {
	color: rgb($themeColor);
}

.assign, .assign span {
	font-size: 11pt;
}

.profile .author {
	top: 0;
	margin-left: 8px;
	line-height: 125%;
}

.author {
	top: 1px;
	height: 16px;
	position: relative;
}

.author a {
	height: 19px;
	display: block;
}

.break {
	margin-top: 24px;
}

/*.author, .entry, .message, .person + .log {
	margin-left: 60px !important;
}

.desk {
	margin: 16px 0 18px;
	padding-top: 5px;
	width: 108.5%;
	border-top: 1px dashed #d1d1d1;
}

.desk > span {
	margin: 10px 0;
	font-size: 10pt;
	display: inline-block;
}

.message, .message + .entry {
	margin-top: 4px;
}*/

.profile .log {
	margin: 1px 0 0 5px;
	font-size: 104% !important;
	font-weight: 400 !important;
	line-height: 125%;
	color: #333;
}

.log {
	margin-left: 7px;
	line-height: 80%;
	font-size: 110% !important;
	font-weight: 400 !important;
	color: #f17528;
}

.log + .entry {
	padding-top: 8px;
}

.entry {
	float: right !important;
	margin-top: 17px;
	width: 90%;
	line-height: 100%;
	font-size: 88% !important;
}

.message {
	width: 88%;
	line-height: 118%;
}

.assign {
	background-color: #cae2ff;
	height: 54px;
	width: 715px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #0071bc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: table-cell;
}

.task > div {
	height: 100%;
	display: table;
}

.photo {
	margin-left: 2px;
	width: 58px;
}

.photo span {
	float: left;
	min-width: 49px;
	max-width: 56px;
	font-size: 8pt;
	text-align: center;
	color: #7d7d7d;
	position: relative;
}

.info, .info span {
	line-height: 70%;
	width: 86px;
}

.info span {
	float: left;
	height: 16px;
	font-size: 112%;
	color: #2d3435;
}

.info span:nth-child(4) {
	padding-bottom: 9px;
	font-size: 100%;
	color: #888;
}

.item {
	margin: 10px 0 0 3px;
	height: 100px;
}

.item > div {
	float: left;
}

.date {
	width: 116px;
	font-size: 10pt;
}

.gap {
	margin-left: 6px;
	width: 536px;
	height: 100%;
	font-size: 12pt;
	background-color: #fff;
}

.main {
	padding: 14px 0 10px;
	height: 60%;
	width: 100%;
	border-bottom: 1px dashed #d1d1d1;
	color: #666;
	display: table;
}

.offer {
	padding-left: 70px;
	font-size: 95%;
	vertical-align: middle;
	display: table-cell;
}

.pitch {
	margin-left: 32px;
	width: 362px;
}

.pitch span:nth-child(4) {
	float: right;
	margin-top: 6px;
	font-weight: 600;
}

.offer, .pitch span:nth-child(4) {
	height: 20px;
}

.angle {
	margin-top: -1px;
	padding-bottom: 6px;
	font-size: 18pt;
	color: #333 !important;
	display: inline-block;
}

.response {
	float: left;
	margin: 2px 0 0 24px;
	height: 20px;
	width: 406px;
	font-size: 95%;
	color: #676767;
}

.response a {
	float: right;
	margin: -1px 1px 0 0;
	padding: 4px 11px;
	font-size: 85%;
	color: #666;
	background-color: #f2f2f2;
	text-transform: uppercase;
	-webkit-border-radius: $smallRadius;
	border-radius: $smallRadius;
}

.response a:hover {
	background-color: rgb($themeColor);
}

.offer span:first-child, .pitch span:first-child, .notice span, .response span {
	color: rgb($themeColor) !important;
}

.contact, .info, .photo, .price { /*.gallery*/
	float: left;
}

.info {
	margin-left: 30px;
}

/*.push {
	float: right;
	margin-top: 2px;
	width: 78px;
}

.agent {
	margin: 34px 9px 0 18px;
	height: auto !important;
	font-size: 90%;
}

.agent a {
	font-size: 100% !important;
}

.call {
	float: left;
	margin: 14px 0 0 11px;
	padding: 19px 11px;
	font-size: 105% !important;
	background-color: #f4b0b0;
	text-transform: uppercase;
}

.gallery {
	margin-left: -45px;
}

.gallery a:nth-child(odd) .call, .item a:nth-child(even) .call {
	background-color: #b0b0f4;
}

.item .photo {
	margin-top: 12px;
}

.item .price {
	margin: 22px 0 0 21px;
}

.profile .systemPage:hover {
	font-style: normal;
}

.systemPage:hover {
	font-style: italic;
}

.systemPage, .systemPage:hover, .price {
	color: $backColor;
}*/

.systemPage {
	font-size: 10pt;
	color: #212121 !important;
}

.profile a.systemPage {
	font-size: 100%;
	font-weight: 400;
}

#nav img, .affix img, .comment img, .task img, .call { /*.desk img, .item img,*/
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#system .action {
	float: right;
	margin-top: -21px;
	width: 118px;
	/*line-height: 118%;
	text-align: center;
	font-size: 82%;*/
}

#system .action span input, .action span {
	font-size: 90%;
}

.description {
	float: left;
	margin: 8px 0 0 4px;
	width: 370px;
	height: 42px !important;
	line-height: 100%;
	display: block !important;
}

.description a, .description > span {
	float: left;
	padding-top: 7px;
	max-width: 100%;
	height: 17px;
	color: #666;
}

.description > span {
	width: 100%;
}

.job .description {
	margin: 16px 0 0 6px;
	width: 305px;
}

.job .description a, .job .description > span {
	padding-top: 2px;
	height: 13px;
	font-size: 118%;
}

.task:not(.job) .description span {
	padding-top: 0;
	font-weight: 400;
	font-size: 10pt;
}

.job .subtext {
	margin-top: 7px;
}

.job .description a {
	font-size: 13pt;
}

.job .description span {
	height: 28px;
	color: #636363;
}

.job .description span span {
	color: rgb($themeColor);
}

/*.price input {
	margin-top: -7px;
}

.price span {
	font-size: 77%;
	font-weight: 400;
	text-transform: none;
	color: #777;
}*/

.price {
	margin-left: 63px;
	font-size: 125%;
	font-weight: 600;
	line-height: 90%;
	text-align: center;
	text-transform: uppercase;
	/*width: 105px;*/
}

.price .middle {
	padding-bottom: 8px;
}

.state {
	float: right;
	font-size: 106%;
}

.state .middle {
	padding-bottom: 2px;
}

.mode {
	float: right;
	margin-left: 19px;
	width: 78px;
	font-size: 122%;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

.mode a {
	float: right;
	margin: 5px 1px 0;
	top: 18px;
	color: #666;
	position: relative;
	display: block;
}

.mode a.leaf, .mode a.ocean {
	padding: 4px 0;
	margin: 1px 2px;
	width: 70px;
	color: #fff;
	-webkit-border-radius: $buttonRadius;
	border-radius: $buttonRadius;
}

.profile > .token .border {
	border: 1px solid #b7b7b7;
	width: 174px;
	height: 166px;
}

.profile > .token .border .thumb {
	margin-top: 0;
	border: 7px solid #fcfcfc;
}

.thumb {
	float: left;
	margin: 5px 0 5px 15px;
	min-height: 15px;
	line-height: 80%;
	border: 1px solid #888;
}

.thumb img {
	vertical-align: middle;
}

.thumb:first-child {
	margin-left: 0;
}

.total {
	float: left;
	margin: 20px 20px 0 10px;
	padding: 5px 0;
	width: 121px;
	font-size: 8pt;
	font-weight: 600;
	line-height: 118%;
	text-align: center;
	-webkit-border-radius: $buttonRadius;
	border-radius: $buttonRadius;
}

#content a.systemUser {
	font-size: 119%;
	font-weight: 500;
	text-transform: none;
}

#system a.systemAssign {
	padding: 6px 28px;
	background-color: #f2f2f2;
	color: #333;
	-webkit-border-radius: $smallRadius;
	border-radius: $smallRadius;
}

#system a.systemEdit {
	float: right;
	margin: 18px -7px 0 0;
	padding: 4px 14px;
	font-size: 10pt;
	background-color: #fff;
	color: #666;
	text-transform: uppercase;
	-webkit-border-radius: $smallRadius;
	border-radius: $smallRadius;
}

#system a.systemRoute {
	float: right;
	margin: 24px 14px 0 0;
	padding: 8px 11px;
	font-size: 105%;
	background-color: #f2f2f2;
	color: #333;
	text-transform: uppercase;
	-webkit-border-radius: $smallRadius;
	border-radius: $smallRadius;
}

#system a.systemAssign:hover, #system a.systemEdit:hover, #system a.systemRoute:hover {
	background-color: rgb($themeColor);
}

#system a.systemMessage {
	background: url('/images/message.png') no-repeat left top;
	height: 41px;
	width: 56px;
	text-indent: -9999px;
	display: block;
}

#wall a.systemUser {
	font-size: 93% !important;
}

.list {
	padding-left: 11px;
	font-size: 8pt;
	line-height: 74%;
	color: #fff;
}

.list a.systemUser {
	color: #fff !important;
}

.ui-multiselect {
	float: left;
	padding: 3px 0 4px 3px; /*12px*/
	height: 29px;
	line-height: 100%;
	font-weight: 400;
	font-size: 126% !important;
}

.ui-multiselect > span:nth-child(2) {
	padding-right: 38px; /*31px*/
	width: 282px;
}

.ui-multiselect.multiphoto > span:nth-child(1) {
	margin-left: 138px; /*134px*/
}

.ui-multiselect.multiphoto > span:nth-child(2) {
	margin-top: 1px;
	width: 133px;
	display: block;
}

/*.ui-multiselect.multiphoto {
	float: left;
	margin-left: -1px;
}*/

.ui-multiselect.multiadd > span:nth-child(2) {
	width: 249px;
}

.ui-multiselect-checkboxes span {
	top: -1px;
	font-size: 92%;
	line-height: 1.1;
}

.refine > span {
	font-size: 120%;
}

.refine .ui-multiselect > span:nth-child(2) {
	font-size: 106%; /*11pt*/
}

.refine .ui-multiselect {
	float: right;
	margin: 4px 0 0 18px !important; /*3px 0 0 14px*/
}

/*.refine .ui-multiselect > span:nth-child(2) {
	top: 1px;
	left: 3px;
	font-size: 114% !important;
	position: relative;
}*/

.taskForm .ui-multiselect {
	padding-top: 6px;
}

.file {
	float: left;
	margin-left: 15px;
}

.form {
	margin-top: -9px;
	width: 100%;
	display: table;
}

.form .row:last-child {
	height: 74px;
}

.input > img {
	float: left;
	margin: -2px 0 0 10px;
}

.row {
	height: 70px;
	display: table-row;
}

.submit {
	vertical-align: middle;
	display: table-cell;
}

#content input[type=text], #content input[type=password] {
	float: left;
	padding: 5px 7px;
	width: 234px;
	height: 17px;
	font-size: 104%;
}

#content > div > form input[type=text], #content .profile input[type=text] {
	padding: 9px 7px 7px 9px;
	width: 442px;
	font-size: 125%;
	color: #555;
}

#content textarea {
	float: left;
	padding: 7px 11px 6px 10px;
	width: 437px;
	min-height: 184px;
	font-size: 108%;
	resize: none;
}

#content input.cost[type=text] {
	padding-left: 60px;
}

#content input.small[type=text] {
	width: 132px;
}

#content input.cost[type=text], #content input.hasDatepicker[type=text] {
	width: 108px;
}

/*#auth .token > div:not(#fbook) {
	padding-left: 65px;
	display: block;
}

#content input[type=button], #content .submit input[type=submit] {
	width: 142px;
	height: 27px;
	font-size: 80%;
	background: url('/images/submit.png') no-repeat left top;
}*/

#auth input[type=text], #auth input[type=password] {
	border-radius: 5px;
	/*height: 25px;
	font-size: 11pt;*/
}

#auth input[type=submit] {
	padding-bottom: 1px;
	width: 142px;
	height: 24px;
	font-size: 80%;
	font-weight: 600;
	background: #333;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	/*padding-left: 14px;
	margin-left: 37px;
	width: 188px;
	height: 39px;
	font-size: 132%;
	color: #fdedeb;
	background-color: #dc503f;
	background-image: url('/images/auth.png');
	background-repeat: no-repeat;
	background-position: 50px center;*/
}

#auth .desc {
	font-size: 103%;
	width: auto;
}

/* system elements */

.headline {
	margin: 3px 0 -1px 2px; /* 19px 0 17px*/
	width: 99%;
	display: table;
}

/*.headline h1 {
	margin: 0;
	height: 13px;
	font-size: 11pt;
	color: #4b4b4b;
}

.headline div:first-child {
	width: 247px;
}*/

.refine {
	text-align: right;
}

.menu, .lead #post {
	margin-left: $menuMargin;
	position: absolute;
}

.menu {
	width: 223px;
}

.menu ul {
	float: left;
	margin-left: 5px !important;
	/*border: 1px solid #999;
	width: 100%;*/
}

/*#system:not(.fixed) .lead {
	border-bottom: 1px dashed #999;
}

.lead ul {
	margin-bottom: 4px !important;
}*/

.lead {
	margin-bottom: 8px;
	width: 120%;
}

.lead ul li {
	float: left;
	margin-right: 15px;
	font-size: 118%;
}

.lead .focus a {
	color: rgb($themeColor);
}

.menu ul li, #page .header {
	line-height: 18px;
}

.menu ul a {
	background: url('/images/point_gray.png') no-repeat left 4px;
	padding-left: 16px;
	font-size: 114%;
	color: #999;
}

.menu ul a:hover, .menu .focus a {
	background: url('/images/point_orange.png') no-repeat left 4px;
	color: rgb($themeColor);
}

.path {
	background: url('/images/back_gray.png') no-repeat left center;
	padding-left: 15px;
}

.path:hover {
	background-image: url('/images/back_orange.png');
}

.top {
	height: 23px;
	font-size: 10pt;
}

#page .grid {
	padding-bottom: 2px;
	font-size: 11pt;
	color: #fff;
}

#page .grid span {
	color: rgb($themeColor);
}

#page .header {
	padding: 14px 0; /*$tokenPad*/
	font-size: 23pt; /*108%*/
	font-weight: 600;
	text-align: center;
	color: #444;
}

#page .sub {
	margin: 8px 0 0 3px;
	padding: 3px 0;
	width: 97px;
	font-size: 90%;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	border-width: 2px;
	color: #fff;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	display: block;
}

#page form .sub {
	margin-top: 9px;
}

#page .top {
	margin: 9px 0 7px;
}

#post {
	background: url('/images/post.png') no-repeat left top;
	margin: 11px 0 13px; /*83px 0 13px*/
	width: 156px; /*120px*/
	height: 37px;
	display: table;
}

#post a {
	padding-left: 27px;
	font-size: 110%;
	/*background-color: #dc503f;
	font-weight: 600;*/
}

#uploadBar .header {
	background: url('/images/focus.png') no-repeat left top;
	padding-left: 26px; /*4px 0 0 26px*/
	height: 25px;
	font-size: 18pt;
	color: rgb($themeColor);
	display: table;
}

#uploadBar .header, #uploadBar .top, #uploadBar form {
	float: left;
	width: 778px;
}

#uploadBar .top {
	/*padding-left: 15px;*/
	margin: 9px 0 3px;
}

#content > div > form .header {
	margin: 4px 0 18px;
	font-size: 17pt;
	text-transform: uppercase;
	color: rgb($themeColor);
}

#addDesign {
	top: 4px;
	left: 3px;
	width: 132px;
	height: 28px;
	font-size: 95%;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#buyDesign:disabled {
	cursor: default;
}

.hide h2, .hide ul {
	display: none !important;
}

.gridForm .token {
	padding: 9px 0 !important;
}

.gridForm span {
	margin-bottom: 4px;
	width: auto !important;
	color: #fff;
}

.gridForm {
	width: 720px;
}

.gridForm #buyDesign {
	float: left;
	background-color: $orangeStart;
	background-image: url('/images/note.png');
	background-image: url('/images/note.png'), -webkit-gradient(linear, 0 0, 0 100%, from($orangeStart), to($orangeEnd));
	background-image: url('/images/note.png'), -ms-linear-gradient(top, $orangeStart, $orangeEnd);
	background-image: url('/images/note.png'), -o-linear-gradient(top, $orangeStart, $orangeEnd);
	background-image: url('/images/note.png'), -moz-linear-gradient(top, $orangeStart, $orangeEnd);
	background-position: 13px 5px, left top;
	background-repeat: no-repeat;
	border: 1px solid rgb($themeColor);
	padding: 3px 33px 5px 48px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.prepareForm #cropDesign {
	float: left;
	padding: 1px 8px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.prepareForm .submit {
	padding: 0 0 8px !important;
}

.message, #wall textarea {
	font-size: 95%%;
}

.product {
	float: left;
	margin-bottom: 1px;
	width: 100%;
	display: table;
}

.product:last-child {
	margin: 0;
}

.profile #savePerson {
	margin-left: 213px;
	padding-right: 24px;
	padding-left: 24px;
}

#saveMail {
	background-color: #333;
	margin: 0 37.5% 28px;
	padding: 2px 28px;
	font-size: 90%;
	font-weight: 600;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#addTask, #saveTask {
	background: url('/images/save.png') no-repeat left top;
	margin-right: 328px;
	padding-left: 41px;
	width: 145px;
	height: 43px;
	font-size: 8pt;
}

#addTask, #buyDesign, #saveTask, #post a {
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	color: #fff;
	display: table-cell;
}

/*.header .middle, .sort {
	height: 39px;
}

.header div:first-child, .sort div:first-child {
	padding-left: 21px;
	font-size: 111%;
	text-transform: uppercase;
}

.header div:first-child {
	color: #fff;
}

.header, .text {
	background-color: #2d2c2b;
}

.sort {
	border-bottom: 1px solid #cdcccb;
}

#wall .activity {
	background: url('/images/activity.png') no-repeat right top;
}*/

#wall .desc {
	padding-bottom: 4px;
}

#wall .wallMessage {
	float: right;
	padding: 0 23px !important;
	margin-top: 4px;
	left: 11px;
	position: relative
}

#wall textarea {
	margin: 3px 0 0 -2px;
	min-height: 24px;
	width: 513px;
	height: 0;
}

#wall form {
	margin-bottom: 4px;
	display: table;
}

#wall .heap {
	margin-top: -20px;
	height: 23px;
	font-size: 110%;
	font-weight: 400;
	border-bottom: 1px dashed #999;
	color: #363636;
}

#wall .heap span {
	float: right;
	margin: 7px 4px;
}

.qtip.layer {
	z-index: 0 !important;
}

.qtip.jgrowl {
	width: 185px;
	position: fixed;
}

.qtip .ui-icon {
	float: left;
	left: -2px;
	position: relative;
}

.qtip .ui-icon-close {
	left: 0;
	top: -1px;
	height: 15px;
	cursor: pointer;
}

.ui-dialog .ui-icon-closethick {
	cursor: pointer;
}

.qtip .ui-tooltip-close {
	margin-top: -8px;
}

.text {
	font-size: 118%;
	height: 47px;
	width: 100%;
	color: #fff;
	vertical-align: middle;
	display: table-cell;
}

.ui-state-error, .ui-state-highlight {
	background: none !important;
	border: none !important;
}

.ui-tooltip {
	width: 161px;
}

.ui-tooltip-titlebar {
	padding-top: 3px;
	padding-bottom: 1px;
}

.ui-tooltip-title {
	font-size: 110%;
	font-weight: 600;
	line-height: 142%;
}

.ui-tooltip-content {
	line-height: 125%;
}

.ui-tooltip-titlebar, .ui-tooltip-content {
	background-color: #3f3f3f !important;
	opacity: 0.95;
}

.ui-tooltip-preview {
	max-width: 520px;
	width: auto !important;
}

.ui-tooltip-preview .ui-tooltip-title {
	padding-top: 2px;
	font-size: 100%;
}

.ui-tooltip-preview img {
	padding: 3px 0;
	max-width: 498px;
	max-height: 498px;
}

.ui-tooltip-preview img.window {
	top: -1px;
	padding: 0;
	padding-bottom: 2px;
	position: relative;
}

#content > div > form .ui-multiselect {
	/*margin-top: 1px;
	font-style: italic;*/
	font-size: 126% !important;
	font-weight: 200;
	color: #666;
}

/*.category + .ui-multiselect {
	margin-left: 28px;
}*/

.ui-multiselect {
	/*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif !important;*/
	text-align: center;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	color: #999 !important;/*rgb($borderColor)*/
}

.payment .ui-multiselect {
	margin-right: 11px;
}

.ui-dialog-content .ui-multiselect {
	font-size: 95% !important;
	margin: 0;
	padding-top: 0;
	height: 22px;
}

.caption {
	font-size: 102%;
	line-height: 115%;
}

.star-rating-control {
	float: left;
	margin: 0 0 6px 148px;
}

.gmap3 {
	float: left;
	margin: 1px;
	border: 1px solid rgb($borderColor);
	width: 280px;
	height: 200px;	
}

/* branch elements */

/*#proColumn .topDivider {
	border-top: 1px solid #999;
	left: 0;
	width: 100%;
	position: absolute;
}

#proColumn .leftDivider, #proColumn .rightDivider {
	border-right: 1px solid #999;
	top: 0;
	bottom: 0;
	position: absolute;
}

#proColumn .rightDivider {
	margin-left: 700px;
}

#proColumn > .leftDivider, #proColumn > .rightDivider {
	margin-top: 149px;
}

#proColumn > .leftDivider {
	margin-left: 310px;
}

#proColumn > .rightDivider {
	margin-left: 1010px;
}*/

#sideDisplay p {
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 108%;
	color: #fff;
}

button.ui-multiselect::-moz-focus-inner {
	border: 0;
}

button span.ui-icon {
	background: url('/images/dropdown.png') no-repeat left top !important;
	margin: -7px 0 0 142px;
	width: 35px;
	height: 29px;
	position: absolute;
}

.taskForm button span.ui-icon {
	margin-top: -8px;
}

.multimonth span.ui-icon, .multiyear span.ui-icon {
	margin-left: 63px;
}

.refine button span.ui-icon {
	margin-left: 93px;
}

input[type=button], input[type=submit] {
	cursor: pointer;
	color: #fff;
}

input[type=button]:not(.tree), input[type=submit] {
	border: 0;
}

/*input[type=button], input[type=submit], #info input[type=button] {
	background-color: #fff;
	border: 1px solid #020202;
	padding: 0 12px;
	height: 30px;
	font-size: 8t;
	color: #000;
	cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, #info input[type=button]:hover {
	background-color: #e3f1fc;
}*/

#info input[type=button] {
	font-size: 70%;
}

.account input[type=submit] {
	height: 29px;
}

.password-meter {
	float: left;
	top: -1px;
	width: 89%;
	height: 23px;
	display: block !important;
}

body .ui-multiselect-single .ui-multiselect-checkboxes label {
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}

.ui-multiselect-checkboxes li {
	font-size: 100% !important;
}

.ui-widget-header {
	font-weight: 400 !important;
}

.ui-multiselect-menu {
	width: 184px !important;
	margin-top: 1px;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	z-index: 1;
}

.middle.ui-multiselect-menu {
	width: 202px !important;
	font-size: 120% !important;
	display: none;
}

.ui-multiselect-menu a {
	font-size: 88% !important;
	text-transform: none !important;
	color: #fcfbfa !important;
}

.ui-multiselect-menu a span:nth-child(2) {
	top: -1px;
	left: 1px;
	position: relative;
}

.ui-multiselect-menu a span {
	cursor: pointer;
}

.ui-multiselect-menu .ui-helper-reset {
	top: 1px;
	position: relative;
}

.ui-multiselect-menu .ui-widget-header li:nth-child(1) {
	padding-left: 14px;
}

.ui-multiselect-menu .ui-widget-header li:nth-child(2) {
	display: none;
}

.ui-state-disabled {
	opacity: 0.73 !important;
}

.field input[type=text], .field input[type=password] {
	float: left;
	width: 153px;
	padding: 2px 3px;
	margin-bottom: 4px;
	border: 1px solid #b7b7b7;
}

.field input[type=text].issue, .field input[type=password].issue {
	background-color: #ffe3e3;
}

.field input[type=text].mini_left {
	width: 47px;
	margin-right: 6px;
}

.field input[type=text].mini_right {
	width: 95px;
}

.field input[type=checkbox] {
	float: left;
	margin: 1px 11px 0 0;
}

.ui-buttonset {
	margin-top: 4px;
}

.ui-button-text {
	text-align: center;
	padding: 2px 0 3px 0 !important;
}

.ui-button-text-only {
	font-size: 85%;
	width: 73px;
	display: inline-block !important;
}

.button {
	margin: 8px 11% 0 0;
}

.form p {
	margin-top: 7px !important;
}

.form {
	float: none !important;
	position: relative;
}

.form label {
	font-weight: 400 !important;
	font-size: 85% !important;
	margin-top: 2px;
	color: #fff;
}

.left, .form label {
	text-align: left;
}

.center {
	text-align: center;
}

.right, .button {
	text-align: right;
}

.left, .center, .right {
	display: table-cell;
}
